<!DOCTYPE html>
<html>
<head>
    <title>連続リレー小説 with GPT4 ~AIとみんなで物語を作ろう~</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/app.js"></script>
    <link rel="stylesheet" href="/static/main.css"> <!-- この行を追加 -->
</head>
<body>
    <h1>連続リレー小説 with GPT4 ~AIとみんなで物語を作ろう~</h1>
    <h2 id="story-title"></h2>

    <div class="story">
        <div id="story-container">
            <!-- ここに物語の一部が表示されます -->
        </div>
    </div>

    <div class="forms">
        <div class="user_area">
            <form id="input-form">
                <div class="textarea">
                    <textarea id="user-input" rows="30" cols="38" placeholder="物語の続きを入力してみよう" required></textarea>
                    <div id="char-counter">0 / 200</div>
                    <div id="error-message" style="color: red; display: none;">200文字を超えています。</div>
                </div>
                <div class="submit-button">
                    <button type="submit" id="submit-button" value="投稿">投稿</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>